---
apiVersion: v1
kind: Secret
metadata:
  labels:
    hypershift.openshift.io/safe-to-delete-with-cluster: "true"
  name: hcp-{{ guid }}-infra-credentials
  namespace: {{ namespace }}
type: Opaque
data:
  kubeconfig: {{ kubeconfig_base64 }}
