apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  labels:
    machineconfiguration.openshift.io/role: master
  name: 99-master-mirror-registries
spec:
  config:
    ignition:
      version: 3.2.0
    storage:
      files:
        - contents:
            compression: ""
            source: data:;base64,W1tyZWdpc3RyeV1dCnByZWZpeCA9ICJxdWF5LmlvIgpsb2NhdGlvbiA9ICJxdWF5LmlvIgpibG9ja2VkID0gdHJ1ZQogIFtbcmVnaXN0cnkubWlycm9yXV0KICBsb2NhdGlvbiA9ICJyZWdpc3RyeS1xdWF5LXF1YXktZW50ZXJwcmlzZS5hcHBzLm9jcHZkZXYwMS5kYWwxMy5pbmZyYS5kZW1vLnJlZGhhdC5jb20vcXVheV9pbyIKICBwdWxsLWZyb20tbWlycm9yID0gImFsbCIKCltbcmVnaXN0cnldXQpwcmVmaXggPSAicmVnaXN0cnkucmVkaGF0LmlvIgpsb2NhdGlvbiA9ICJyZWdpc3RyeS5yZWRoYXQuaW8iCmJsb2NrZWQgPSB0cnVlCiAgW1tyZWdpc3RyeS5taXJyb3JdXQogIGxvY2F0aW9uID0gInJlZ2lzdHJ5LXF1YXktcXVheS1lbnRlcnByaXNlLmFwcHMub2NwdmRldjAxLmRhbDEzLmluZnJhLmRlbW8ucmVkaGF0LmNvbS9yZWdpc3RyeV9yZWRoYXRfaW8iCiAgcHVsbC1mcm9tLW1pcnJvciA9ICJhbGwiCg==
          mode: 272
          overwrite: true
          path: /etc/containers/registries.conf.d/99-master-mirror-registries.conf
