---
apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  labels:
    machineconfiguration.openshift.io/role: worker
  name: 00-nodeip-hint
spec:
  config:
    ignition:
      version: 3.2.0
    storage:
      files:
      - contents:
          source: data:,KUBELET_NODEIP_HINT=10.10.10.255
        filesystem: root
        path: /etc/default/nodeip-configuration
