---
- name: Check variables when ddns is used
  when: cluster_dns_server is defined
  block:
    - when: >-
        cluster_dns_zone is not defined
        or ddns_key_name is not defined
        or ddns_key_secret is not defined
      fail:
        msg: |
          All the following variables must be defined:
          - cluster_dns_zone
          - ddns_key_name
          - ddns_key_secret

- name: Check that Route53 variables are defined
  when: route53_aws_zone_id is defined
  ansible.builtin.assert:
    that:
    - route53_aws_zone_id | default('') | length > 0
    - route53_aws_access_key_id | default('') | length > 0
    - route53_aws_secret_access_key | default('') | length > 0
    - route53_zone | default(cluster_dns_zone) | default('') | length > 0
    fail_msg: |
      All the following variables must be defined:
      - route53_aws_zone_id
      - route53_aws_access_key_id
      - route53_aws_secret_access_key
      - route53_zone
    quiet: true
