---
- name: Step 004 Software
  hosts: localhost
  become: false
  gather_facts: false
  tasks:
  - name: Check that workloads is a list
    when: workloads is not defined or workloads is not sequence
    ansible.builtin.fail:
      msg: "Workloads variable is either not defined or is not a list"

  - name: Set workloads to provision in standard format
    loop: "{{ workloads }}"
    loop_control:
      label: "{{ _workload.name }} on {{ _clusters | join(',') }}"
    vars:
      _workload: "{{ item if item is mapping else {'name': item} }}"
      _clusters: "{{ _workload.clusters | default(['default']) }}"
    ansible.builtin.set_fact:
      _workloads: >-
        {{ _workloads | default([]) + [_workload | combine({"clusters": _clusters})] }}

  - name: Provision Workloads on cluster(s)
    ansible.builtin.include_role:
      name: openshift_workload_deployer
    vars:
      ACTION: provision
      openshift_workload_deployer_workloads: "{{ _workloads }}"
      openshift_workload_deployer_clusters: "{{ clusters }}"
