---
# ===================================================================
# Mandatory Variables
# ===================================================================
# Repository Tag
# Tag for all repositories that are used in this config.
# ===================================================================
tag: main
# -------------------------------------------------------------------
config: cloud-vms-base
cloud_provider: aws
cloud_provider_version: "{{ tag }}"

# ===================================================================
# Additional Collections & roles to be installed for this config
# ===================================================================
requirements_content:
  collections:
  - name: https://github.com/agnosticd/cloud_vm_workloads.git
    type: git
    version: "{{ tag }}"
  # For Showroom
  - name: https://github.com/agnosticd/core_workloads.git
    type: git
    version: "{{ tag }}"

# -------------------------------------------------------------------
# Instance Variables
# -------------------------------------------------------------------
default_instance_image: RHEL-10.0-GOLD-latest

default_instance_type: "t3a.large"

default_rootfs_size: 50

# -----------------
# Security Groups
# -----------------
security_groups:
- name: BastionSG
  rules:
  - name: BastionSSHPorts
    description: "Bastion ssh"
    from_port: 22
    to_port: 22
    protocol: tcp
    cidr: "0.0.0.0/0"
    rule_type: Ingress

- name: NodeSG
  rules:
  - name: FromNodeSGtcp
    description: "Allow everything from HostSG nodes"
    from_port: 0
    to_port: 65535
    protocol: tcp
    from_group: NodeSG
    rule_type: Ingress

  - name: FromNodeSGudp
    description: "Allow everything from HostSG nodes"
    from_port: 0
    to_port: 65535
    protocol: udp
    from_group: NodeSG
    rule_type: Ingress

# -------------------------------------------------------------------
# Instances
# -------------------------------------------------------------------
instances:
- name: "bastion"
  count: 1
  unique: true
  public_dns: true
  floating_ip: true
  image: "{{ bastion_instance_image | default(default_instance_image) }}"
  flavor:
    ec2: "{{ bastion_instance_type | default(default_instance_type) }}"
  tags:
  - key: "AnsibleGroup"
    value: "bastions"
  - key: "ostype"
    value: "linux"
  rootfs_size: "{{ bastion_rootfs_size | default(default_rootfs_size) }}"
  security_groups:
    - BastionSG
    - NodeSG

- name: node1
  count: 1
  unique: true
  public_dns: false
  image: "{{ node1_instance_image | default(default_instance_image) }}"
  flavor:
    ec2: "{{ node1_instance_type | default(default_instance_type) }}"
  tags:
  - key: "AnsibleGroup"
    value: "nodes"
  - key: "ostype"
    value: "linux"
  rootfs_size: "{{ node1_rootfs_size | default(default_rootfs_size) }}"
  security_groups:
  - NodeSG

# -------------------------------------------------------------------
# Workloads
# -------------------------------------------------------------------
pre_software_workloads:
  all:
  - host-satellite-repositories
  bastions:
  - host_common_packages
  - bastion
  - agnosticd.cloud_vm_workloads.control_user

software_workloads:
  bastions:
  - agnosticd.cloud_vm_workloads.asset_injector

post_software_final_workloads:
  bastions:
  - agnosticd.showroom.vm_workload_showroom
